body {
  background-color: #ff94c1;
  background-image: url("https://transrats.neocities.org/bg.gif");
  font-family: serif;
  text-align: center;
  image-rendering: crisp-edges;
  background-attachment: fixed;
  }  
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(255, 142, 189);
    color: rgb(223, 223, 223);
    text-align: center;
  }

  div.padding {
    color: white;
  }
 
  /*Custom cursors*/
    body {cursor: url('https://preview.redd.it/le-whole-rgb-haj-crew-from-my-earlier-blahaj-post-as-v0-5vtjtwhq1s591.png?width=640&crop=smart&auto=webp&s=12a6a2edcdff9a9aaff19ec1107cdb2ccf00ff7d'), default;}
    a {cursor: url('https://preview.redd.it/le-whole-rgb-haj-crew-from-my-earlier-blahaj-post-as-v0-5vtjtwhq1s591.png?width=640&crop=smart&auto=webp&s=12a6a2edcdff9a9aaff19ec1107cdb2ccf00ff7d'), pointer;}
    p, h1, h2, h3, small {cursor: url('https://preview.redd.it/le-whole-rgb-haj-crew-from-my-earlier-blahaj-post-as-v0-5vtjtwhq1s591.png?width=640&crop=smart&auto=webp&s=12a6a2edcdff9a9aaff19ec1107cdb2ccf00ff7d'), text;}
  
  /*Force images to fit in browser window*/
  img {
    max-width:100%;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    
   }
   
  /*Disable border around linked images*/
  /*Intended for browsers such as IE8*/
  a img, :link img, :visited img {
    border: 0px;
  }


  

  /*Text sizing*/
  h2 {
    font-size: 32px;
    margin: 3px auto;
  }
  h3 {
    font-size: 26px;
    margin: 8px auto 3px auto;
  }
  p {
    font-size: 110%;
    margin: 8px auto 10px auto;
  }
  
  .sidebar {
    height: 100%;
    width: 150px;
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 40px;
    background-color: rgba(218, 121, 205, 0.5);
    }
    
    .sidebar div {
    padding: 8px;
    font-size: 24px;
    display: block;
    }
    
    .body-text {
    margin-left: 150px;
    font-size: 18px;
    }